/* Header */
* {
    font-family: 'Prata', serif;

}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    /* padding-bottom: 1px; */
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;



}

/* logo */
.logo {
    height: 10vh;
    filter: invert(1);
    border-radius: 40px;

}

/* nav */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;

}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

#navbar li a:hover {
    color: rgb(88, 135, 88);
    transition: 0.3s ease;
}


/* BANNER */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    /* background-image: url("img/ban.jpeg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url("img/cubg.jpeg");
    border-radius: 10px;
    width: 100%;
    height: 130vh;
    /*40vh*/
    background-size: cover;
    background-position: center;
}


#banner h1 {
    font-size: 70px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1px;
    padding-right: 4px
}


/* COMMENT BOX */

.comments {
    padding-top: 30px;
    padding-right: 35px;
    top: 50%;
    left: 50%;
    width: 400px;
}

.comments input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.comments input:focus {
    border: 1px solid #000;
    outline: 0;
}

.comments textarea {
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid white;

}

.comments textarea:focus {
    border: 1px solid rgb(0, 0, 0);
    outline: 0;
}

.comments button {
    cursor: pointer;
    border: 0;
    padding: 10px 30px;
    background: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 5px;
    color: rgb(0, 0, 0);

}

.comments button:hover {
    background: rgb(88, 135, 88);
    color: #fff;

}



/* FOOTER */


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

footer .ft1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

footer .logo {

    margin-top: 5px;

}

footer h1 {
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    color: rgb(103, 157, 103)
}

footer p {
    color: rgb(0, 0, 0);
    font-size: 16px;

}

footer .icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .icon i {
    cursor: pointer;
    color: rgb(103, 157, 103)
}

footer .submit {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;

}

footer .submit:hover {
    background-color: rgb(103, 157, 103);
    color: rgb(255, 255, 255);
}





footer .copyright {
    margin-top: 40px;
    font-weight: 550;
    width: 100%;
    text-align: center;

}

/* MEDIA QUERY */
/* LAPTOP */

@media screen and (max-width: 1400px){
    .logo{
        height: 9vh;
    }
}
/* TABLET */
@media screen and (max-width: 800px){
    
    .logo{
        height: 60px;
    }


body{
    margin: 0;
    padding: 0px;
}


/* FOOTER */
.footer{
    display: block;
    text-align: center;
    margin-left: 55px;

}

footer h1{
    text-align: center;
}

.ft1{
    padding-left: 206px;
}
.ft1 h1{
    padding-left: 80px;
}
.footer img{
    margin-right: 10px;
}



}

@media screen and (max-width: 480px){

    /* HEADER */
        #header    {
           display: block;
           font-size: 25px;
           margin-left: 10px ;
           background-color: #c67f53;
           border-radius: 10px;
           margin-bottom: 25px;
        
        
       }
       #header ul{
           display: block;
           font-size: 30px;
           margin-left: 35px;
           
       }
          
       #header img{
           margin-left: 60px;
           
       }

      
       

    /* FOOTER */
    .footer{
        display: block;
        text-align: center;
    }

    footer h1{
        text-align: center;
    }

    .ft1{
        padding-left: 100px;
    }
    .ft1 h1{
        padding-left: 95px;
    }
    .footer img{
        margin-left: 15px;
    }
}