* {
    font-family: 'Prata', serif;

}

/* Header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    /* padding-bottom: 1px; */
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;



}

/* logo */
.logo {
    height: 10vh;
    filter: invert(1);
    border-radius: 40px;

}

/* nav */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;

}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

#navbar li a:hover {
    color: rgb(88, 135, 88);
    transition: 0.3s ease;
}





/* HOME */

#hero {
    background: url("img/bg.jpeg");
    height: 90vh;
    width: 89%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#hero h1 {
    color: rgb(255, 255, 255);
    font-size: 58px;
    padding: 8px 50px;
    font-style: italic;
    font-weight: bold;
    text-shadow: -4px 4px rgb(0, 0, 0);



}

#hero h2 {
    font-style: italic;
    font-size: 18px;
    color: #ebebeb;


}

#hero p {
    color: rgb(210, 0, 0);
    font-size: 35px;
    padding: 0 12px;
    font-weight: bold;
    text-shadow: -2px 2px rgb(240, 182, 182);
    font-style: italic;

}

.psale {
    font-style: normal;
    font-size: 38px;
}

.button {
    background-color: #ffffff;
    color: #000000;
    border: 0;
    padding: 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    border-radius: 40px;
    text-align: center;
    transition: 0.3s ease;
    text-decoration: none;

}

.button:hover {
    background-color: rgb(35, 35, 34);
    color: #ebebeb;
}



/* QUOTES    */

#p1 {
    font-size: 30px;
    /* background-color: rgb(255, 255, 255); */
    text-align: left;
    margin: 20px;
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 50%;
    margin-bottom: 5px;
    padding: 10px 100px;
    width: 30%;

}

#p2 {
    font-size: 30px;
    /* background-color: rgb(255, 255, 255); */
    text-align: right;
    margin: 10px;
    /* margin-top: 5px; */
    margin-right: 3%;
    margin-left: 50%;
    padding: 10px 100px;
    width: 30%;

}

.i {
    color: rgb(103, 157, 103);
    font-weight: bold;
    font-style: italic;
    font-size: 35px;

}

.pf {
    color: rgb(103, 157, 103);
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
}

/* BANNER */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    /* background-image: url("img/ban.jpeg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url("img/ban.jpeg");
    border-radius: 10px;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h2 {
    font-weight: 500;
    color: #fff;
}

.off {
    font-size: 60px;
    font-weight: 700;
    color: rgb(213, 26, 26);
    text-shadow: -3px 3px rgb(240, 182, 182);
}

.button2 {
    padding: 5px 5px;
    font-size: 25px;
    color: #000000;
    background-color: #fff;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 5px;
    text-decoration: none;

}

.button2:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    transition: 0.3s ease;
}


/* FOOTER */


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

footer .ft1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

footer .logo {

    margin-top: 5px;

}

footer h1 {
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    color: rgb(103, 157, 103)
}

footer p {
    color: rgb(0, 0, 0);
    font-size: 16px;

}

footer .icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .icon i {
    cursor: pointer;
    color: rgb(103, 157, 103)
}

footer .submit {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;

}

footer .submit:hover {
    background-color: rgb(103, 157, 103);
    color: rgb(255, 255, 255);

}





footer .copyright {
    margin-top: 40px;
    font-weight: 550;
    width: 100%;
    text-align: center;

}

/* MEDIA QUERY */