/* Header */
* {
    font-family: 'Prata', serif;

}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    /* padding-bottom: 1px; */
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;




}

/* logo */
.logo {
    height: 10vh;
    filter: invert(1);
    border-radius: 40px;

}

/* nav */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;

}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

#navbar li a:hover {
    color: rgb(88, 135, 88);
    transition: 0.3s ease;
}



/* BANNER */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    /* background-image: url("img/ban.jpeg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url("img/bg1.jpeg");
    border-radius: 10px;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}


#banner h1 {
    font-size: 70px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1px;
}

#banner p {
    color: #fff;
    font-size: 18px;
}


/* SEC */
.sec {
    padding-top: 10px;
    padding-bottom: 40px;

}

/* SALE NEWS */

.sale {
    padding-top: 30px;
    text-align: center;
}

.sale h1 {
    font-size: 23px;
    text-align: center;
}

.off {
    font-size: 26px;
    font-style: normal;
    font-weight: bolder;
    color: #c62020;
}

.r2h {
    font-size: 26px;
    color: rgb(67, 67, 255);
}

/* PRODUCTS */

.procontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 10px;


}

.products img {
    object-fit: cover;
    border-radius: 10px;
    width: 250px;
    height: 300px;


}

.products {
    text-align: center;
    color: rgb(0, 0, 0);
    padding-bottom: 40px;


}

.products button {
    background-color: #c62020;
    color: #ffffff;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    border-radius: 40px;
    text-align: center;
    transition: 0.3s ease;
    text-decoration: none;

}

.products button:hover {
    background-color: #c24545;
    color: #ffffff;
}

.products h1 {
    color: rgb(215, 85, 38);
}








/* FOOTER */


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

footer .ft1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

footer .logo {

    margin-top: 5px;

}

footer h1 {
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    color: rgb(103, 157, 103)
}

footer p {
    color: rgb(0, 0, 0);
    font-size: 16px;

}

footer .icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .icon i {
    cursor: pointer;
    color: rgb(103, 157, 103)
}

footer .submit {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;

}

footer .submit:hover {
    background-color: rgb(103, 157, 103);
    color: rgb(255, 255, 255);
}





footer .copyright {
    margin-top: 40px;
    font-weight: 550;
    width: 100%;
    text-align: center;

}